[Desktop Entry]
Encoding=UTF-8
Name=Link to www.makemkv.com • View topic - MakeMKV 1.8.5 for Linux is available
Type=Link
URL=http://www.makemkv.com/forum2/viewtopic.php?f=3&t=224
Icon=text-html
