[Desktop Entry]
Encoding=UTF-8
Name=Link to www.makemkv.com • View topic - New to dvd ripping
Type=Link
URL=http://www.makemkv.com/forum2/viewtopic.php?f=1&t=7080
Icon=text-html
