[Desktop Entry]
Version=1.0
Name=MakeMKV
Comment=DVD and Blu-ray to MKV converter and network streamer
Exec=makemkv
Icon=makemkv
Terminal=false
Type=Application
Categories=AudioVideo;Qt;
